In [6]:
# dependencies
import chardet
import pandas as pd
import os

In [7]:
# Load in file
# Store filepath in a variable
YOUTUBE_PATH = 'Resources/global_youtube_statistics.csv'

In [8]:
with open(YOUTUBE_PATH, 'rb') as csv_file:
    raw_content = csv_file.read()
    chardet_result = chardet.detect(raw_content)
print(chardet_result)

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/global_youtube_statistics.csv'

In [5]:
# Read and display the CSV with Pandas
df = pd.read_csv(YOUTUBE_PATH, encoding=chardet_result['encoding'])
df.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [6]:
df.isna().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    46
Title                                        0
uploads                                      0
Country                                    122
Abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    123
Population                                 123
Unemployment rate                          123
Urban_population                           123
Latitude                                   123
Longitude                                  123
dtype: int64

In [7]:
na_country_mask_s = df["Country"].isna()

In [8]:
zero_views_mask_s = df["video views"] == 0
zero_views_mask_s.head()

0    False
1     True
2    False
3    False
4    False
Name: video views, dtype: bool

In [9]:
df[na_country_mask_s & zero_views_mask_s]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
5,6,Music,119000000,0.0,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Gaming,93600000,0.0,NaN,Gaming,0,NaN,NaN,Games,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
102,103,News,36300000,0.0,NaN,News,0,NaN,NaN,NaN,...,NaN,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN
173,174,Popular on YouTube,29300000,0.0,NaN,Popular on Youtube,3,NaN,NaN,Education,...,NaN,2017.0,Aug,7.0,NaN,NaN,NaN,NaN,NaN,NaN
360,361,Minecraft - Topic,20900000,0.0,NaN,Minecraft - Topic,0,NaN,NaN,Games,...,300000.0,2013.0,Dec,20.0,NaN,NaN,NaN,NaN,NaN,NaN
592,593,Live,16100000,0.0,NaN,Live,0,NaN,NaN,NaN,...,NaN,2015.0,Jan,13.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
clean_df = df[~zero_views_mask_s]
clean_df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
6,7,Ã½Ã½Ã½ Kids Diana Show,112000000,9.324704e+10,People & Blogs,Ã½Ã½Ã½ Kids Diana Show,1111,United States,US,Entertainment,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por AÃ¯Â¿,12300000,9.029610e+09,Sports,Natan por AÃ¯Â¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [11]:
clean_df.isna().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                    39
Title                                        0
uploads                                      0
Country                                    116
Abbreviation                               116
channel_type                                28
video_views_rank                             1
country_rank                               110
channel_type_rank                           30
video_views_for_the_last_30_days            51
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               330
created_year                                 5
created_month                                5
created_date                                 5
Gross tertiary education enrollment (%)    117
Population                                 117
Unemployment rate                          117
Urban_population                           117
Latitude                                   117
Longitude                                  117
dtype: int64

In [12]:
nan_cat_mask_s = clean_df["category"].isna()

In [13]:
clean_df[nan_cat_mask_s]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
91,92,Vlad vÃ¯Â¿Â½Ã¯Â¿Â½Ã¯,37900000,2.351015e+10,NaN,Vlad vÃ¯Â¿Â½Ã¯Â¿Â½Ã¯,515,United States,US,Entertainment,...,200000.0,2018.0,Jul,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
132,133,BETER BÃ¯Â¿Â½Ã¯Â¿Â½,32700000,1.918004e+10,NaN,BETER BÃ¯Â¿Â½Ã¯Â¿Â½,2738,Turkey,TR,Games,...,2100000.0,2012.0,Dec,12.0,23.9,8.342962e+07,13.49,63097818.0,38.963745,35.243322
155,156,Diana and Roma ESP,30700000,1.235599e+10,NaN,Diana and Roma ESP,578,United States,US,Entertainment,...,200000.0,2016.0,Nov,27.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
161,162,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½,30400000,1.799996e+10,NaN,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½,532,United States,US,Entertainment,...,300000.0,2018.0,Nov,3.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
214,215,D Billions,26200000,3.197746e+10,NaN,D Billions,775,United States,US,Entertainment,...,200000.0,2019.0,Jul,27.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
255,256,shfa show India,24200000,1.572416e+10,NaN,shfa show India,469,United Arab Emirates,AE,People,...,200000.0,2019.0,Apr,1.0,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
256,257,Super JoJo - Nursery Rhymes & Kids Songs,24100000,3.297749e+08,NaN,Super JoJo - Nursery Rhymes & Kids Songs,36,United States,US,Education,...,100000.0,2019.0,May,31.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
261,262,Diana and Roma ARA,24100000,1.104126e+10,NaN,Diana and Roma ARA,590,United States,US,Entertainment,...,200000.0,2019.0,Feb,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
312,313,Vlad and Niki Arabic,22500000,1.061370e+10,NaN,Vlad and Niki Arabic,526,United States,US,Entertainment,...,100000.0,2018.0,Nov,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
319,320,Vlad and Niki ESP,22000000,8.594441e+09,NaN,Vlad and Niki ESP,515,United States,US,Entertainment,...,200000.0,2018.0,Oct,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
332,333,ZAMZAM ELECTRONICS TRADING,21700000,8.507819e+09,NaN,ZAMZAM ELECTRONICS TRADING,15126,United Arab Emirates,AE,People,...,3400000.0,2020.0,Dec,19.0,36.8,9.770529e+06,2.35,8479744.0,23.424076,53.847818
355,356,Vlad and Niki IDN,21000000,9.789122e+09,NaN,Vlad and Niki IDN,498,United States,US,Entertainment,...,300000.0,2018.0,Nov,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
424,425,Manoj parihar,19300000,2.642281e+08,NaN,Manoj parihar,335,India,IN,Howto,...,300000.0,2021.0,Mar,2.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
445,446,Busy Fun Ltd,18800000,7.762077e+09,NaN,TG MAYANK YT,2,NaN,NaN,NaN,...,NaN,2021.0,Dec,21.0,NaN,NaN,NaN,NaN,NaN,NaN
452,453,Smile Family Spanish,18600000,7.008250e+09,NaN,Smile Family Spanish,457,United States,US,Entertainment,...,200000.0,2019.0,Jun,19.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
495,496,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ KIMPRO,17700000,1.920670e+10,NaN,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ KIMPRO,1646,South Korea,KR,People,...,3200000.0,2017.0,Nov,11.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
496,497,Jane ASMR Ã¯Â¿Â½Ã¯Â¿Â½,17700000,7.387622e+09,NaN,Jane ASMR Ã¯Â¿Â½Ã¯Â¿Â½,1888,South Korea,KR,People,...,NaN,2012.0,Nov,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
553,554,Ivana Alawi,16600000,1.318443e+09,NaN,Ivana Alawi,180,Philippines,PH,People,...,100000.0,2018.0,Jun,1.0,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
593,594,Vlad and Niki ARA,16100000,7.399296e+09,NaN,Vlad and Niki ARA,510,United States,US,Entertainment,...,100000.0,2019.0,May,24.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
598,599,Panda Shorts,16100000,7.155736e+09,NaN,Panda Shorts,667,Sweden,SE,Sports,...,3000000.0,2020.0,Nov,21.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
619,620,MY FAMILY,15700000,6.153496e+09,NaN,My Family,150,Singapore,SG,People,...,800.0,2019.0,Dec,3.0,84.8,5.703569e+06,4.11,5703569.0,1.352083,103.819836
712,713,Filaretiki,14800000,1.578821e+10,NaN,Filaretiki,2222,United States,US,People,...,1700000.0,2021.0,Mar,24.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
738,739,Lotus Music,14500000,1.739129e+09,NaN,Lotus Music,514,India,IN,Tech,...,100000.0,2021.0,Jun,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
742,743,Eli Kids - Cartoons & Songs,14500000,4.821183e+09,NaN,Eli Kids - Cartoons & Songs,605,United States,US,Music,...,400000.0,2018.0,Jan,16.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
763,764,Vlad and Niki PRT,14400000,6.543282e+09,NaN,Vlad and Niki PRT,516,United States,US,Entertainment,...,NaN,2018.0,Nov,3.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
810,811,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½,13900000,8.451755e+09,NaN,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½,504,United States,US,People,...,200000.0,2018.0,Oct,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
832,833,Zeinab Harake,13600000,8.968914e+08,NaN,Zeinab Harake,273,Philippines,PH,People,...,100000.0,2017.0,Oct,19.0,35.5,1.081166e+08,2.15,50975903.0,12.879721,121.774017
849,850,Vlad y Niki Show,13400000,4.622629e+09,NaN,Vlad y Niki Show,477,United States,US,Entertainment,...,200000.0,2018.0,Nov,8.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
852,853,Vibhu 96,13400000,2.056338e+07,NaN,Vibhu 96,256,India,IN,Education,...,300000.0,2022.0,Jun,5.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
879,880,Vilmei,13200000,4.205665e+09,NaN,Vilmei,1324,Indonesia,ID,People,...,800000.0,2013.0,Sep,25.0,36.3,2.702039e+08,4.69,151509724.0,-0.789275,113.921327
888,889,WiederDude,13100000,2.733683e+09,NaN,WiederDude,289,United States,US,Games,...,100000.0,2016.0,Jun,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
907,908,Wolfoo Channel,13000000,3.015478e+08,NaN,Wolfoo Channel,22,Pakistan,PK,People,...,8.0,2021.0,Aug,11.0,9.0,2.165653e+08,4.45,79927762.0,30.375321,69.345116
930,931,FACT FIRE KING,12700000,1.159290e+09,NaN,FACT FIRE KING,782,India,IN,Games,...,500000.0,2020.0,Jul,29.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
934,935,Diana and Roma IND,12700000,5.567832e+09,NaN,Diana and Roma IND,534,United States,US,Entertainment,...,100000.0,2019.0,Nov,7.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
941,942,Heidi y Zidane,12700000,6.001189e+09,NaN,Heidi y Zidane,600,United States,US,People,...,NaN,2019.0,Dec,2.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
950,951,Wolfoo Family,12500000,1.612540e+08,NaN,Wolfoo Family,61,United States,US,Film,...,NaN,2019.0,Oct,21.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
957,958,Bebefinn - Nursery Rhymes & Kids Songs,12500000,4.163639e+09,NaN,Bebefinn - Nursery Rhymes & Kids Songs,322,United States,US,Entertainment,...,500000.0,2022.0,Mar,30.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
971,972,DEV Ke Facts,12400000,1.971226e+09,NaN,DEV Ke Facts,218,India,IN,Education,...,600000.0,2012.0,Sep,29.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973

In [14]:
clean_df.loc[nan_cat_mask_s, "category"] = "UNKNOWN"

In [15]:
clean_df.dropna(subset=['Latitude', 'Longitude'], axis='rows').isna().sum()

rank                                         0
Youtuber                                     0
subscribers                                  0
video views                                  0
category                                     0
Title                                        0
uploads                                      0
Country                                      0
Abbreviation                                 0
channel_type                                 7
video_views_rank                             1
country_rank                                 1
channel_type_rank                            9
video_views_for_the_last_30_days            22
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               273
created_year                                 3
created_month                                3
created_date                                 3
Gross tertiary education enrollment (%)      0
Population                                   0
Unemployment rate                            0
Urban_population                             0
Latitude                                     0
Longitude                                    0
dtype: int64

In [1]:
# CODE BELOW MAY BE OBSOLETE/ INCORRECT

In [ ]:
nan_country_mask_s = clean_df["Country"].isna()

In [ ]:
clean_df[nan_country_mask_s]

In [ ]:
clean_df["Abbreviation"].unique()

In [ ]:
unknown_country_columns = ["Country", "Gross tertiary education enrollment (%)", "Population",
                           "Unemployment rate", "Urban_population", "Latitude", "Longitude"]

In [ ]:
clean_df.dtypes["Latitude"]

In [ ]:
for column in unknown_country_columns:
    
    clean_df.loc[nan_country_mask_s, column] = "UNKNOWN"

clean_df.loc[nan_country_mask_s, "Abbreviation"] = "ZZ"

In [ ]:
clean_df.isna().sum()